name: "JavaScript for Automation (JXA)"
fileTypes: [
  'scpt'
  'jxa'
  'jxainc'
  'applescript'
]
firstLineMatch: '''
^(JsOsa|#!.*osascript\\s+-l\\s+JavaScript|.*(Application|Library)\\s*\\(|ObjC)
'''
scopeName: 'source.js.jxa'
patterns: [ include: 'source.js']
